<form action="" method="post" id="idFrmEditPekerjaan">
    <table class="table">
        <tr>
            <td colspan="2">
                <label>Nama Perusahaan/Instansi*</label>
                <input type="text" name="company_name" class="form-control" id="idInpNamaPerusahaan" placeholder="Nama Perusahaan">
                <input type="hidden" name="id" id="idget" /> 
            </td>
            <td width="150">
                <label>Kota</label>
                <input type="text" name="city" class="form-control" id="idInpCity" placeholder="Kota">
            </td>
            <td width="150">
                <label>Negara</label>
                <input type="text" name="country" class="form-control" id="idInpCountry" placeholder="Negara">
            </td>
        </tr>
        <tr>
            <td width="150">
                <label>Waktu Masuk*</label>
                <select class="form-control  inputbiru" name="join_month" id="idWaktuMasuk">
                    <option value="">-Pilih Bulan-</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                </select>
            </td>
            <td width="150">
                <label>&nbsp;</label>
                <select class="form-control  inputbiru" name="join_year" id="idTahunMasuk">
                    <option value="">-Pilih Tahun-</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </td>
            <td>
                <label>Waktu Keluar*</label>
                <select class="form-control  inputbiru" name="resign_month" id="idWaktuKeluar">
                    <option value="">-Pilih Bulan-</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                </select>
            </td>
            <td>
                <label>&nbsp;</label>
                <select class="form-control  inputbiru" name="resign_year" id="idTahunKeluar">
                    <option value="">-Pilih Tahun-</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Posisi Terakhir*</label>
                <input type="text" name="last_position" class="form-control" id="idInpNamaPosisi" placeholder="Posisi Terakhir">
            </td>
            <td colspan="2">
                <label>Penghasilan Terakhir (IDR)</label>
                <input type="text" name="income" class="form-control" id="idInpIncome" placeholder="Income">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="checkbox" name="is_it_related" id="idCheckBox" value=true> <label>IT Related ?</label>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Keterangan Singkat Mengenai Pekerjaan</label>
                <textarea class="form-control" id="idKeterangan" name="about_job" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Alasan Keluar</label>
                <textarea class="form-control" id="idExit" name="exit_reason" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Catatan</label>
                <textarea class="form-control" id="idCatatan" name="notes" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                <button type="button" class="btn orenwoy" id="idBtnCancelPekerjaan">Cancel</button>
                <button type="button" class="btn biruwoy" id="idBtnEditPekerjaan">Submit</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {

        $.ajax({
            url: '/Pekerjaan/AmbilData',
            data: { ID: $('#idget').val() },
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idInpNamaPerusahaan').val(mdl.company_name);
                $('#idInpCity').val(mdl.city);
                $('#idInpCountry').val(mdl.country);
                $('#idWaktuMasuk').val(mdl.join_month).selected;
                $('#idTahunMasuk').val(mdl.join_year).selected;
                $('#idWaktuKeluar').val(mdl.resign_month).selected;
                $('#idTahunKeluar').val(mdl.resign_year).selected;
                $('#idInpNamaPosisi').val(mdl.last_position);
                $('#idInpIncome').val(mdl.income);
                var cek = mdl.is_it_related;
                $('#idCheckBox').attr('checked', cek);
                $('#idKeterangan').val(mdl.about_job);
                $('#idExit').val(mdl.exit_reason);
                $('#idCatatan').val(mdl.notes);
            }
        });

    $('#idBtnCancelPekerjaan').click(function () {
        $('#idMdlEditPekerjaan').close;
        location.reload();
    });

    $('.ClBtnClosePekerjaan').click(function () {
        $('#idMdlCreatePekerjaan').close;
        location.reload();
    });

    $('#idBtnEditPekerjaan').click(function () {
        debugger;
        var vDatapekerjaan = $('#idFrmEditPekerjaan').serialize();
        $.ajax({
            url: '/Pekerjaan/EditSimpan',
            data: vDatapekerjaan,
            method: 'Post',
            success: function (mdl) {
                debugger;
                if (mdl.EditSimpan == "Berhasil") {
                    alert("Data berhasil disimpan");
                    //$('.modal').modal('hide');
                    //$.modal.close();
                    $('#idMdlEditPekerjaan').close;
                    location.reload();
                }
                else {
                    debugger;
                    alert("Data gagal disimpan");
                }
            }
        });
    });
    });
</script>
