
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .blueborder {
        border-color: blue;
    }
</style>

    <div class="table-responsive" style="height:600px;">
        <form action="" method="post" id="idFrmCariRJ">
            <table class="table table-striped">
                <thead>
                    <tr style="border-bottom:2px solid blue;">
                        <td colspan="3">
                            <label style="font-size:17px;">Rencana Jadwal</label>
                        </td>
                        <td align="right">
                            <button type="button" id="idBtnSort" class="btn-link"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
                            <button type="button" id="idBtnRow" class="btn-link"><span class="glyphicon glyphicon-align-justify"></span></button>
                            <button type="button" id="idBtnCreateRJ" class="btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td width="250px;">
                            <div class="input-group">
                                <input type="text" name="rj_dari" class="form-control blueborder" autocomplete="off" id="idTgldari"  style="border-right: none;" placeholder="Dari" required 
                                    oninvalid="this.setCustomValidity('Data tidak boleh kosong')" onchange="this.setCustomValidity('')" >
                                <span class="input-group-addon blueborder" style="background-color:  transparent; padding: 6px 7px;"><i class="glyphicon glyphicon-calendar" style="font-size: 18px; color:#000080;"></i>
                                </span>
                            </div>
                        </td>
                        <td width="250px;">
                            <div class="input-group">
                                <input type="text" name="rj_sampai" class="form-control blueborder" autocomplete="off" id="idTglsampai" style="border-right: none;" placeholder="Sampai" required
                                    oninvalid="this.setCustomValidity('Data tidak boleh kosong')" onchange="this.setCustomValidity('')">
                                <span class="input-group-addon blueborder" style="background-color: transparent; padding: 6px 7px;"><i class="glyphicon glyphicon-calendar" style="font-size: 18px; color:#000080;"></i></span>
                            </div>
                        </td>
                        <td>
                            <button type="button" id="cariDataid" style="background-color:#000080; border:2px solid #000080; width:70px; height:32px; color:white; font-weight:bold;">Cari</button>
                            <button type="reset" style="background-color:#000080; border:2px solid #000080; width:70px; height:32px; color:white; font-weight:bold;">Reset</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </thead>
                <tbody id="idTblBodyRJ"></tbody>
            </table>
        </form>
</div>


<div class="modal fade" id="idMdlCreateRJ" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Buat Rencana Jadwal <span style="padding-left:550px;"></span> @*<button class="ClBtnCloseRJ" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>*@</h4>
            </div>
            <div class="modal-body" id="idBodyCreateRJ">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="idMdlEditRJ" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Ubah Rencana Jadwal <span style="padding-left:550px;"></span> @*<button class="ClBtnCloseRJ" style="background-color:transparent; border:none; overflow:hidden;"><span class="glyphicon glyphicon-remove"></span></button>*@</h4>
            </div>
            <div class="modal-body" id="idBodyEditRJ">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="idMdlHapusRJ" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog tengahpls" role="document">
        <div class="modal-content lebarpls">
            <div class="modal-header merahbg">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Hapus Rencana Jadwal ?</h4>
            </div>
            <div class="modal-body" id="idBodyHapusRJ">



                @*<p>One fine body&hellip;</p>*@
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {

        $("#idTgldari").datepicker({ //datepicker
            minDate: -10,
            dateFormat: "yy-mm-dd"
        });

        $("#idTglsampai").datepicker({ //datepicker
            minDate: -10,
            dateFormat: "yy-mm-dd"
        });

    });


    $('#idBtnCreateRJ').click(function () {
        $.ajax({
            url: '/RencanaJadwal/Create',
            method: 'Get',
            success: function (mdl) {
                debugger;
                $('#idBodyCreateRJ').empty();
                $('#idBodyCreateRJ').append(mdl);

                $('#idMdlCreateRJ').modal('show');

                debugger;
            },
            error: function (mdl) {
                debugger;
            }
        });

    });


    $('#cariDataid').click(function () {

        if ($('#idTgldari').val() == "") {
            alert('Filter Tanggal Dari Tidak boleh kosong')
        }
        else if ($('#idTglsampai').val() == "") {
            alert('Filter Tanggal Sampai Tidak boleh kosong')
        }
        else if ($('#idTgldari').val() > $('#idTglsampai').val()) {
            alert('Filter Tanggal Sampai Tidak boleh lebih kecil dari tanggal Dari')
        }
        else {
            vStrHtml = '';
            $('#idTblBodyRJ').empty();
            //simpan data
            var a = $('#idTgldari').val();
            var b = a.toString();
            var c = $('#idTglsampai').val();
            var d = c.toString();
            $.ajax({
                url: '/RencanaJadwal/Cari',
                data: { Dari: b, Sampai: d },
                method: 'Get',
                success: function (mdl) {
                    debugger;

                    if (mdl.length != 0) {

                        $.each(mdl, function (i, d) { //menjahit data ke dalam tabel
                            debugger;

                            //function convert(date) {
                            //    // var date = new Date(str),
                            //    mnth = ("0" + (date.getMonth() + 1)).slice(-2);
                            //    day = ("0" + date.getDate()).slice(-2);
                            //    return [day, mnth ,date.getFullYear()].join("/");
                            //}
                            //var testDate = convert(new Date(d.schedule_date.substr(6, 13) - 0));

                            a = new Date(parseInt(d.schedule_date.substr(6)));
                            vtanggal = (a.getDate() < 10 ? '0' : '') + a.getDate();
                            vbulan = a.getMonth() + 1;
                            var vMonthList = { 1: 'Januari', 2: 'Februari', 3: 'Maret', 4: 'April', 5: 'Mei', 6: 'Juni', 7: 'Juli', 8: 'Agustus', 9: 'September', 10: 'Oktober', 11: 'November', 12: 'Desember' };
                            vtahun = a.getFullYear();
                            vDataDob = vtanggal + " " + vMonthList[vbulan] + " " + vtahun;

                            var RO = { 1: 'Irfan', 2: 'Maulana', '-': '-' };
                            var TRO = { 1: 'Titi', 2: 'Jaidai', '-': '-' };

                            if (d.is_automatic_mail == true) {
                                debugger;
                                d.is_automatic_mail = 'Otomatis';
                            }
                            else {
                                d.is_automatic_mail = 'Manual';
                            }

                            if (d.ro == null) {
                                d.ro = '-';
                            }

                            if (d.tro == null) {
                                d.tro = '-';
                            }

                            if (d.location == null) {
                                d.location = '-';
                            }

                            vStrHtml = vStrHtml + '<tr class="birutext">' +
                                    '<td>' + d.schedule_code + '</td>' +
                                    '<td>' + vDataDob + ',  ' + d.time + '</td>' +
                                    '<td>' +
                                    'RO : ' + RO[d.ro] +
                                    '<br />' + 'TRO : ' + TRO[d.tro] +
                                    '<br />' + 'Lokasi : ' + d.location +
                                    '<br />' + 'Mode : ' + d.is_automatic_mail +
                                    '<br />' + 'Jenis Jadwal : ' + d.name_schedule +
                                    '</td>' +
                                    //'<td><button type = "button" class="btn btn-primary UbahKeahlian" dataBarang=\'' + JSON.stringify(d) + '\' > + </button></td>' +
                                    
                                    '<td align="right">' +
                                        '<button type="button" class="btn-link" style="color:black;">' +
                                        '<span style="font-size:18px;" class="glyphicon glyphicon-search"></span>' +
                                        '</button>' +
                                        '<button type="button" dataID="' + d.id + '" class="BtnEditRJ btn-link" style="color:black;">' +
                                        '<span style="font-size:18px;" class="glyphicon glyphicon-edit"></span>' +
                                        '</button>' +
                                        '<button type="button" dataID="' + d.id + '" class="HapusRJCfr btn-link" style="color:black;">' +
                                        '<span style="font-size:18px;" class="glyphicon glyphicon-trash"></span>' +
                                        '</button>' +
                                     '</td>' +
                                    '</tr>';

                        });

                        debugger;
                        $('#idTblBodyRJ').append(vStrHtml); //memasukan data yg sudah di jahit ke dalam body
                        debugger;

                        $('.BtnEditRJ').click(function () {
                            var vDataID = parseInt($(this).attr('dataID'));
                            debugger;

                            $.ajax({
                                url: '/RencanaJadwal/Edit',
                                data: { ID: vDataID },
                                method: 'Post',
                                success: function (mdl) {
                                    debugger;
                                    $('#idBodyEditRJ').empty();
                                    $('#idBodyEditRJ').append(mdl);
                                    $('#idget').val(vDataID); //memasukan nilai vDataID ke dalam idget pada partial view _Edit
                                    $('#idMdlEditRJ').modal('show');

                                    debugger;
                                },
                                error: function (mdl) {
                                    debugger;
                                }
                            });

                        });


                        $('.HapusRJCfr').click(function () {
                            var vDataID = parseInt($(this).attr('dataID'));
                            debugger;
                            $.ajax({
                                url: '/RencanaJadwal/DeleteCfr',
                                data: { ID: vDataID },
                                method: 'Post',
                                success: function (mdl) {
                                    $('#idBodyHapusRJ').empty();
                                    $('#idBodyHapusRJ').append(mdl);
                                    $('#idget').val(vDataID); //memasukan nilai vDataID ke dalam idget pada partial view
                                    $('#idMdlHapusRJ').modal('show');
                                    debugger;
                                },
                                error: function (mdl) {
                                    debugger;
                                }
                            });
                        });

                    } else {
                        alert('Data Tidak Ditemukan');
                    }

                }, error: function (mdl) {
                    debugger;
                }
            });
        }
    });
</script>